@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

:root{
    --page-spacing:30px; 
    --paragprah: 2em; 
    --color: white; 
    --margin: 1em;  
    --base:5vh;
    --maxwidth: 120ch;
  } 

/* General */

h1{
  font-family: 'Space Mono', monospace; 
}

h2{ 
  font-family: 'Nothing You Could Do', cursive;
  font-size: var(--paragprah);
}

p{
  font-family: 'Space Mono', monospace; 
  font-size: calc(var(--paragprah)/1.5);  
}

/* Classes and Id's */

#blur {
  text-shadow: 0 0 2px #000;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.centered{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11.5vw;
  text-align: center;
  padding: calc(var(--margin)/2);
  margin: 0 auto;
}

/* Circles */

.circle {
  background-color: #c00505;
  border-radius: 50vh;
  position: absolute;
  opacity: 0.9;
}

.circle:nth-child(3n) {
  width: 3vw;
  height: 3vw;
}

.circle:nth-child(3n-2) {
  width: 5vw;
  height: 5vw;
}

.circle:nth-child(3n-1) {
  width: 8vw;
  height: 8vw;
}

/* Positioning */

.circle:nth-child(1) {
  top: 25vw;
  left: 27vw;
}

.circle:nth-child(2) {
  top: 49vw;
  left: 69vw;
}

.circle:nth-child(3) {
  top: 40vw;
  left: 85vw;
}

.circle:nth-child(4) {
  top: 7vw;
  left: 87vw;
}

.circle:nth-child(5) {
  top: 40vw;
  left: 90vw;
}

.circle:nth-child(6) {
  top: 20vw;
  left: 30vw;
}
.circle:nth-child(7) {
  top: 40vw;
  left: 50vw;
}

.circle:nth-child(8) {
  top: 39vw;
  left: 17vw;
}

.circle:nth-child(9) {
  top: 9vw;
  left: 50vw;
}

.circle:nth-child(10) {
  top: 30vw;
  left: 70vw;
}

.circle:nth-child(11) {
  top: 10vw; 
  left: 3vw;
}

.circle:nth-child(12) { 
  top: 34vw; 
  left: 4vw;
}

.circle:nth-child(13) { 
  top: 50vw; 
  left: 9vw;
}

.circle:nth-child(14) { 
  width:3vw;
  height:3vw;
  top: 25vw; 
  left: 60vw;
}
.circle:nth-child(15) { 
  top: 45vw; 
  left: 30vw;
}

.circle:nth-child(16) { 
  top: 5vw; 
  left: 60vw;
}


.circle:nth-child(17) { 
  top: 22vw; 
  left: 83vw;
}

/* Left */

/* .circle:nth-child(18) { 
  width:3vw;
  height:3vw;
  top: 25vw; 
  left: 60vw;
}

.circle:nth-child(19) { 
  width:3vw;
  height:3vw;
  top: 25vw; 
  left: 60vw;
}

.circle:nth-child(20) { 
  width:3vw;
  height:3vw;
  top: 25vw; 
  left: 60vw;
}

.circle:nth-child(21) { 
  width:3vw;
  height:3vw;
  top: 25vw; 
  left: 60vw;
}

.circle:nth-child(22) { 
  width:3vw;
  height:3vw;
  top: 25vw; 
  left: 60vw;
}
.circle:nth-child(23) { 
  width:3vw;
  height:3vw;
  top: 25vw; 
  left: 60vw;
}

.circle:nth-child(24) { 
  width:3vw;
  height:3vw;
  top: 25vw; 
  left: 60vw;
} */

.circle:hover {
  transform: scale(1.5);
  opacity: 0.7;
  background-color: #680000;
  transition: 0.2s ease;
}

.bkg1{ 
  background-color: #000;
}

.page1{
color:var(--color); 
display: block;
margin: auto;
padding: calc(var(--base)*2);
max-width: var(--maxwidth);
  
}

.page1a{
  display: block;
  color:var(--color); 
  padding: calc(var(--base)*2);
  opacity: 0.2;
  margin: auto;
  position: relative;
  max-width: var(--maxwidth);
}

.Overlay{
  display: block;
  position: absolute;
  max-width: 60ch;
  top: 0;
  margin-left: 28vw;
  padding: calc(var(--base)*2); 
  color: var(--color);
}

.rightside{ 
  display:inline;
  float: right; 
  margin-top: 3vw;
  color: var(--color);
  text-align: right;
}

.leftside {
  display: block;
  float: left;
  margin: calc(var(--base)*5) 0;
}

.leftside.smaller {
 margin-top: auto;
 margin-bottom: auto;
}

.Lft2 {
  float: left;
  margin: calc(var(--base)*5) 0;
  opacity: 0.1;
  color: var(--color);
 }


.warpedtext { 
  display: block;
  margin: 3vw auto;
}

.Red { 
display: block;
margin: 20vw;
margin-left: var(--base);
margin-bottom: 0;
color: #c00505;
top:0; 
padding: calc(var(--base)*2); 
max-width: 50ch
}


.Red2{
color: #c00505;
padding: calc(var(--base)*7);
padding-left: 30vw;
opacity: 0.2;
}

.Darkred { 
color:#3c0000;
margin: 8vw;
margin-bottom: 0vw;
font-size: calc(var(--paragprah)*1.5);
}

.farup{ 
  display: block;
  margin-top: 0;
  top:0;
  display: block;
  position: absolute;
  max-width: 40ch;
 font-size: var(--paragprah); 
 margin-left: 20vw;
}

.Bkg4{
  background-color: #c00505;
}

.rules {
  font-size: calc(var(--base)/2.5);
  display: block; 
  padding: 5vw 38vw;
  opacity:0.5
}


/* Media Queries */



@media (max-width:390px)  { 
  
  /* Specifically for phones */

  /* Page 3.1 */

  .leftside{
    display: none;
  }

  .Red {
   padding-top: calc(var(--base)/2);
   text-align: center;
   font-size: 1em;
  }
}



@media (max-width:767px) {

  /* Phone/smaller */

/* Page 1 */

/* 1.1 */

.page1{
color:var(--color); 
display: block;
padding: calc(var(--base)*2);
max-width: 50ch;
font-size: 2.5vw;
}

/* 1.2 */

.page1a{
  display: block;
  color:var(--color); 
  padding: calc(var(--base)*2);
  opacity: 0.2;
  margin: auto;
  position: relative;
  max-width: 65ch;
  font-size: 2vw;
}

.Overlay{
  display: block;
  position: absolute;
  max-width: 35ch;
  top: 0;
  margin-left: 7vw;
  font-size: 2vw;
  padding: calc(var(--base)*2); 
  color: var(--color);
  text-align: center;
}

/* Page 2 */

/* 2.1 */

.rightside{ 
  display:none
}

.Smallscreen {
  color: var(--color);
  padding: var(--base);
  text-align: center
}

/* Page 3 */

/* 3.1 */

.bkg3{
  background-color: black;
  color:var(--color)
  }

  .Red { 
    margin: 0 auto;
    padding-top: calc(var(--base)*21);
    }
    
    .Darkred {
      margin: 0 auto;
      text-align: center;
      font-size: var(--paragprah);
    }

.Overlay {
  display: none;
}

/* 3.2 */

.Lft2 {
  display: none;
}

.Red2{
margin:auto;
font-size: calc(var(--paragprah)/2);
padding: auto
}

.farup{ 
  font-size: calc(var(--paragprah)*1.2);
  text-align: center; 
  margin: var(--base);
  color:#3c0000; 
}

}

@media (width: 763px) {
  /* Only for Page 4 */

.lines { 
  position: absolute;
  width: 19.8vw;
  left: 67.55vw;
  top: 79vw;
  
  border: 1.8px solid #3c0000; ;
  transform: rotate(90deg);
}

.line2{
  position: absolute;
  width: 19.8vw;
  left: 65.75vw;
  top: 79vw;
  
  border: 1.8px solid #3c0000;
  transform: rotate(90deg);
}
}


@media (min-width:768px) {

  /* Tablet */
 
  /* Page 2  */

  /* 2.1 */

  .Smallscreen {
    display: none; 
 }

/* Page 3 */

/* 3.1 */

 .bkg3{
  background-color: black;
  color:var(--color)
  }
  
  .leftside.smaller {
    margin-top: calc(var(--base)*6.5);
  }
  
  .Red { 
  margin: 0 auto;
  padding-top: calc(var(--base)*21);
  }
  
  .Darkred {
    margin: auto;
    text-align: center;
  }

  .Overlay {
    color:#c00505;
    opacity: 0.5;
    margin:var(--base) 0;
    margin-top: calc(var(--base)*4);
  }

  /* 3.2 */

  .farup{
    font-size: calc(var(--paragprah)/1.2);
    margin: 0 calc(var(--base)*5);
    text-align: center;
    color:#3c0000
  }


}





@media (min-width:1024px){

  /* Laptop or larger */

   /* Page 2  */

  /* 2.1 */

  .Smallscreen {
    display: none; 
 }

 /* Page 3 */

 /* 3.1 */
.Overlay {
  display: none;
}

.Darkred{
  padding-bottom: 0;
}

/* 3.2 */

.farup{ 
  display: block;
  margin-top: 0;
  top:0;
  display: block;
  position: absolute;
  max-width: 40ch;
 font-size: var(--paragprah); 
 margin-left: 20vw
}

}

