@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

:root{
    --page-spacing:30px; 
    --paragprah: 2em; 
    --color: white; 
    --margin: 1em;  
    --base:20px
  } 

/* General */

h1{
  font-family: 'Space Mono', monospace; 
}

/* Classes and Id's */

.centered{
  text-align: center;
  font-size: 15vw;
  padding: calc(var(--margin)/2);
}

#blur {
  text-shadow: 0 0 2px #000;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.circle {
  background-color: #c00505;
  border-radius: 50vh;
  position: absolute;
}

.circle:nth-child(1) {
  width: 5vw;
  height: 5vw;
  top: 53vw;
  left: 27vw;
}

.circle:nth-child(2) {
  width: 8vw;
  height: 8vw;
  top: 35vw;
  left: 70vw;
}

.circle:nth-child(3) {
  width: 6vw;
  height: 6vw;
  top: 50vw;
  left: 75vw;
}

.circle:nth-child(4) {
  width: 4vw;
  height: 4vw;
  top: 67vw;
  left: 57vw;
}

.circle:hover {
  transform: scale(1.5);
  opacity: 0.8;
}

